<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <%= image_tag('logo.png', size: '40') %>
        <span class="fs-4">Planilhas</span>
      </a>
    </header>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Sistema gerador de planilhas do PNAE</h1>
        <p class="col-md-8 fs-4">Selecione um dos layouts abaixo e informe o ID da planilha</p>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-12">
        <div class="h-100 p-5 bg-light border rounded-3">
          <%= flash_messages %>
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="remessa-tab" data-bs-toggle="pill" data-bs-target="#remessa" type="button" role="tab" aria-controls="remessa" aria-selected="true">Remessa</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="retorno-tab" data-bs-toggle="pill" data-bs-target="#retorno" type="button" role="tab" aria-controls="retorno" aria-selected="false">Retorno</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="remessa" role="tabpanel" aria-labelledby="remessa-tab">
              <%= render('static/remessa') %>
            </div>
            <div class="tab-pane fade" id="retorno" role="tabpanel" aria-labelledby="retorno-tab">
              <%= render('static/retorno') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="pt-3 mt-4 text-muted border-top">
      GTECI &copy; <%= Date.current.year %>
    </footer>
  </div>
</main>
